body {
    margin:0;
    padding:0;
    font-family: arial;
    background-color: #3a3737;
}

.profile {
	width: 100%;
	color: #fff;
    text-align: center;
    font-family: arial;
}
.profile h1 {
    font-size: 75px;
    line-height: 0.8em;
}
.profile p {
    font-size: 35px;
    line-height:1em;
}
.icon-img {
    border-radius: 50%;
}

@media screen and (min-width: 1081px) {
    .icon-img {
        margin-top:5vh;
		width: 30vw;
    }
    .works {
        margin-top:5vh;
        width: 60vw;
    }
}
@media screen and (max-width: 1081px) {
	.icon-img {
        margin-top:20vh;
		width: 60vw;
    }
    
    .works {
        width: 90vw;
        margin-top:5vh;
    }
}

.social{
    padding-top:20px;
    height:auto;
}
.social img{
    max-width:80px;
    margin-left:20px;
}
.hatena-svg {
    width: 80px;
    height: 80px;
}
.youtube-svg {
    position:relative;
    width: 80px;
    height: 60px;
    bottom:8px;
}

.aboutme {
    widows: 100%;
    height:100vh;
    background-color: #300a24;
	color: #fff;
    text-align: center;
}

.aboutme h1{
    font-size:60px;
}
.aboutme h2{
    font-size:40px;
}

.experience {
	width: 100%;
	color: #fff;
    text-align: center;
    font-family: arial;
    padding-top:400px;
    padding-bottom:400px;
}
.experience h1 {
    font-size: 60px;
    line-height: 1em;
}
.experience p {
    font-size: 35px;
    line-height:2.0em;
}

.works {
	width: 100%;
	color: #fff;
    text-align: center;
    font-family: arial;
    padding-top:400px;
    padding-bottom:400px;
}

.works h1 {
    font-size: 60px;
    line-height: 1em;
}
